<div class="title-design"style="width: 100%; padding: 0;margin: 0;">
  <h5 style="padding: 0;">Record History</h5>
</div>
<nav>
      <div class="nav nav-tabs justify-content-center div-tab" id="nav-tab" role="tablist">
        
            <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" 
            type="button" role="tab" aria-controls="nav-users" aria-selected="true">All Users</button>
            <button class="nav-link" id="nav-blotter-tab" data-bs-toggle="tab" data-bs-target="#nav-blotter" 
            type="button" role="tab" aria-controls="nav-blotter" aria-selected="false"> Blotters Record</button>
          
          
            <button class="nav-link " id="nav-brgyidh-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyidh" 
            type="button" role="tab" aria-controls="nav-brgyidh" aria-selected="true">Barangay ID</button>
            <button class="nav-link" id="nav-brgyclearanceh-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyclearanceh" 
            type="button" role="tab" aria-controls="nav-brgyclearanceh" aria-selected="false"> Barangay Clearance</button>
            <button class="nav-link" id="nav-businessclearanceh-tab" data-bs-toggle="tab" data-bs-target="#nav-businessclearanceh" 
            type="button" role="tab" 
            aria-controls="nav-businessclearanceh" aria-selected="false">Business Permit</button>
            
            <button class="nav-link" id="nav-indigencyh-tab" data-bs-toggle="tab" data-bs-target="#nav-indigencyh" 
            ype="button" role="tab" 
            aria-controls="nav-indigencyh" aria-selected="false">Certificate for Indigency</button>
            
            <button class="nav-link" id="nav-wiringh-tab" data-bs-toggle="tab" data-bs-target="#nav-wiringh" 
            type="button" role="tab" aria-controls="nav-wiringh" aria-selected="false"> Wiring and Excavation Clearance</button>

      </div>
  </nav>
  <div class="tab-content request-tab" id="nav-tabContent" >
    
              <!-- -------------------BRGY ID---------------------------- -->
              <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                <div class="tableFixHead record-content">
                                    
                                        
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Account Role </th>  
                        <th scope="col"> First Name </th>
                        <th scope="col"> Last Name </th>
                        <th scope="col"> Email </th>
                        
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allUserAccounts.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.accountrole %> </td> 
                        <td scope="row"> <%= users.firstname %> </td>   
                        <td scope="row"> <%= users.lastname %> </td>     
                         
                        <td scope="row"> <%= users.email %> </td>
                              
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div> 
          
          
              
              <div class="tab-pane fade" id="nav-blotter" role="tabpanel" aria-labelledby="nav-blotter-tab">
                <div class="tableFixHead record-content">
                                            
                                                
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Recorded </th>  
                        <th scope="col"> Complainant</th>
                        <th scope="col"> Defendant </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% backupBlotters.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.daterecorded %> </td>
                        <td scope="row"> <%= users.fullnamecomplainant %> </td> 
                        <td scope="row"> <%= users.fullnamedefendant %> </td>  
                                
                        
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- -------------------END OF BRGY CLEARANCE---------------------------- -->
          
              
              <!-- -------------------BUSINESS PERMIT---------------------------- -->
              <div class="tab-pane fade" id="nav-brgyidh" role="tabpanel" aria-labelledby="nav-brgyidh-tab">
                <div class="tableFixHead record-content">
                                        
                                            
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allrequestIds.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>   
              
              <div class="tab-pane fade" id="nav-brgyclearanceh" role="tabpanel" aria-labelledby="nav-brgyclearanceh-tab">
                <div class="tableFixHead record-content"  >
                                                  
                                                      
                  <table class="table table-hover table-striped" >
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allClearance.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-businessclearanceh" role="tabpanel" aria-labelledby="nav-businessclearanceh-tab">
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allPermit.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>
               <!-- ------------------- END OF BUSINESS CLEARANCE---------------------------- -->
                
              <!-- -------------------INDIGENCY--------------------------- -->
              <div class="tab-pane fade" id="nav-indigencyh" role="tabpanel" aria-labelledby="nav-indigencyh-tab">
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allIndigency.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
          
              </div>
              <!-- -------------------END OF INDIGENCY--------------------------- -->
            
          
                <!-- -------------------WIRING CLEARANCE--------------------------- -->
              <div class="tab-pane fade" id="nav-wiringh" role="tabpanel" aria-labelledby="nav-wiringh-tab">
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Request </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allWirings.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.request %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
          
              </div>
   
   
  </div>

