<div class="title-design"style="width: 100%; padding: 0;margin: 0;">
  <h5 style="padding: 0;">Record History</h5>
</div>
<nav>
      <div class="nav nav-tabs justify-content-center div-tab" id="nav-tab" role="tablist">
        
            <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" 
            type="button" role="tab" aria-controls="nav-users" aria-selected="true">All Users</button>
            <button class="nav-link " id="nav-residents-tab" data-bs-toggle="tab" data-bs-target="#nav-residents" 
            type="button" role="tab" aria-controls="nav-residents" aria-selected="true">Residents Record</button>
            <button class="nav-link" id="nav-blotter-tab" data-bs-toggle="tab" data-bs-target="#nav-blotter" 
            type="button" role="tab" aria-controls="nav-blotter" aria-selected="false"> Blotters Record</button>
          
          
            <button class="nav-link " id="nav-brgyidh-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyidh" 
            type="button" role="tab" aria-controls="nav-brgyidh" aria-selected="true">Barangay ID</button>
            <button class="nav-link" id="nav-brgyclearanceh-tab" data-bs-toggle="tab" data-bs-target="#nav-brgyclearanceh" 
            type="button" role="tab" aria-controls="nav-brgyclearanceh" aria-selected="false"> Barangay Clearance</button>
            <button class="nav-link" id="nav-businessclearanceh-tab" data-bs-toggle="tab" data-bs-target="#nav-businessclearanceh" 
            type="button" role="tab" 
            aria-controls="nav-businessclearanceh" aria-selected="false">Business Permit</button>
            
            <button class="nav-link" id="nav-indigencyh-tab" data-bs-toggle="tab" data-bs-target="#nav-indigencyh" 
            ype="button" role="tab" 
            aria-controls="nav-indigencyh" aria-selected="false">Certificate for Indigency</button>
            
            <button class="nav-link" id="nav-wiringh-tab" data-bs-toggle="tab" data-bs-target="#nav-wiringh" 
            type="button" role="tab" aria-controls="nav-wiringh" aria-selected="false"> W & E Clearance</button>

      </div>
  </nav>
  <div class="tab-content request-tab" id="nav-tabContent" >
    
              <!-- -------------------BRGY ID---------------------------- -->
              <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpAllUsers" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  
                    href="/deleteinfobackupalluser" onclick="return confirm('Are you sure you want to delete ALL History Users records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
               
                <div class="tableFixHead record-content">

                  
                                    
                                        
                  <table class="table table-hover table-striped table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Account Role </th>  
                        <th scope="col">Username </th>  
                        <th scope="col"> Full Name </th>
                       
                        <th scope="col"> Email </th>
                        
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allUserAccounts.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.accountrole %> </td> 
                        <td scope="row"> <%= users.username %> </td> 
                        <td scope="row"> <%= users.fullname %> </td>   
                         
                         
                        <td scope="row"> <%= users.email %> </td>
                              
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.lastname %>s back up account?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div> 

               <!-- -------------------RESIDENTS--------------------------- -->
               <div class="tab-pane fade" id="nav-residents" role="tabpanel" aria-labelledby="nav-residents-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpResidents" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinforbackupresidents" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Residents Records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped citizen-table">
                    <thead class=" table-dark ">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Recorded: </th>
                       
                        <th scope="col">Full Name</th>
                        <th scope="col">Complete Address</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                     
                    <%  allbackupResidents.forEach(function(users){ %>
                      <tr>
                        <th scope="row"><%= users.daterecorded %></th>
                        
                        <td><%= users.lastname %>  <%= users.firstname %> <%= users.middleinitial %> </td>
                        <td> <%= users.blklot %>  <%= users.street %> <%= users.brgy %> <%= users.province%>  </td>
                        <td><%= users.request %></td>
                        <td> <a class="td-link"  href="/adminsviewblotter/<%= users._id %>" >
                          Edit
                        </a> </td>
                        <td> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.lastname %> s backup information?');"  >
                          
                       Delete </a> </td>
                      </tr>
                      <% }); %> 
                      
                    </tbody>
               </table>
                 
                </div>
          
              </div>
              <!-- -------------------END OF RESIDENTS--------------------------- -->
          
          
              
              <div class="tab-pane fade" id="nav-blotter" role="tabpanel" aria-labelledby="nav-blotter-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpBlotter" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupblotter" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Blotter Records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
               
                
                <div class="tableFixHead record-content">
                                            
                                                
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Recorded </th>  
                        <th scope="col"> Complainant</th>
                        <th scope="col"> Defendant </th>
                        <th scope="col"> Phone </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% backupBlotters.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.daterecorded %> </td>
                        <td scope="row"> <%= users.fullnamecomplainant %> </td> 
                        <td scope="row"> <%= users.fullnamedefendant %> </td>  
                                
                        
                        <td scope="row"> <%= users.phone %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullnamecomplainant %> complaint?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>

              </div>
              <!-- -------------------END OF BRGY CLEARANCE---------------------------- -->
          
              
              <!-- -------------------BUSINESS PERMIT---------------------------- -->
              <div class="tab-pane fade" id="nav-brgyidh" role="tabpanel" aria-labelledby="nav-brgyidh-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpRequestIDs" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupbrgyid" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Brgy Id Records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                
                <div class="tableFixHead record-content">
                                        
                                            
                  <table class="table table-hover  table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <th scope="col"> Phone </th>
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allrequestIds.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        <td scope="row"> <%= users.phone %> </td>       
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> request?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>   
              
              <div class="tab-pane fade" id="nav-brgyclearanceh" role="tabpanel" aria-labelledby="nav-brgyclearanceh-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpRequestClearance" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupbrgyclearance" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Brgy Clearance Records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                
                <div class="tableFixHead record-content"  >
                                                  
                                                      
                  <table class="table table-hover table-striped" >
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                        <!-- <th scope="col"> Request </th> -->
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allClearance.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                        
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> request?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-businessclearanceh" role="tabpanel" aria-labelledby="nav-businessclearanceh-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpRequestPermit" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupbrgypermit" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Business Permit records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                       
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allPermit.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                             
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> request?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
              </div>
               <!-- ------------------- END OF BUSINESS CLEARANCE---------------------------- -->
                
              <!-- -------------------INDIGENCY--------------------------- -->
              <div class="tab-pane fade" id="nav-indigencyh" role="tabpanel" aria-labelledby="nav-indigencyh-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpRequestIndigency" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupbrgyindigency" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Certificate of Indigency records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                      
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allIndigency.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                             
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> request?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
          
              </div>
              <!-- -------------------END OF INDIGENCY--------------------------- -->
            
          
                <!-- -------------------WIRING CLEARANCE--------------------------- -->
              <div class="tab-pane fade" id="nav-wiringh" role="tabpanel" aria-labelledby="nav-wiringh-tab">
                <div class="btn-add"> 
                  <form action="/exportBackUpRequestWiring" method="POST">
                    <button
                    type="submit"
                    class="btn addbtn submit"
                  ><a style=" text-decoration: none;" type="submit" class="a-link">
                    Export to Excel</a>
                  </button>
      
                  <!-- <button
                        type="button"
                        class="btn addbtn submit" data-modal="modal-12" 
                      ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                        Add Blotter</a>
                      </button>
       -->
                    
                    <button
                      type="button"
                      class="btn addbtn submit"
                    ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfobackupbrgywiring" 
                    onclick="return confirm('Are you sure you want to delete ALL Back Up Wiring and Excavation Records?');"  >
                      Delete All</a>
                    </button>
                   </form>
                </div>
                <div class="tableFixHead record-content">
                                                  
                                                      
                  <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date Applied </th>  
                        <th scope="col"> Full Name </th>
                        <th scope="col"> Email </th>
                       
                        <!-- <th scope="col"> View </th> -->
                        <th scope="col"> Remove </th>
                        
                      </tr>
                    </thead>
                    <tbody>      
                    <% allWirings.forEach(function(users){ %>
                      <tr>
                        <td scope="row"> <%= users.dateapply %> </td> 
                                
                        <td scope="row"><a class="request-link" href="/adminviewreqid/<%= users._id %>" target="_blank" >  <%= users.fullname %> </a></th>  
                        <td scope="row"> <%= users.email %> </td>
                            
                      <td style="width: 10px; text-align: center;"> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.fullname %> request?');"  >
                        <i class="fa-solid fa-xmark"></i> </a> </td>
                      
                      </tr>
                      <% }); %> 
                      
                    </tbody>
                  </table>
                </div>
          
              </div>
   
   
  </div>

