<%-
  include('../partials/header.ejs') %>
 
    <div class="news-container req-view-div">
              <div class="news-inside">
                <form class="row g-3 req-row" action="/send-message-request-clearance/<%- users._id %>" method="POST"  enctype="multipart/form-data">
                  <div class="col-12 req-distance">
                    <div class="title-design" style="width: 100%;" >
                        <h5>Sent the Client Request for Barangay Clearance </h5>
                        <hr />
                      </div>

                      <div class="date-req " style="text-align: right;">
                     
                      <label class="req-label"><b> Request : </b> </label> 
                      <select class="custom-select my-1 mr-sm-2" name="request" value="<%- users.request %>" style="width: 100px">
                        <!-- <option selected></option> -->
                        
                        
                        <option value="Finished">Finished</option>
                      
                      </select>
                    </div>
                  
                    <!-- <h5>Email </h5> -->
                   
                  </div>
                  <div class="col-md-12 req-distance">
                    <label class="req-label">Date: <%- users.dateapply%>  </label> 
                  </div>
                  <div class="col-md-12 req-distance">
                    <label class="req-label" >rom: barangayportalx@gmail.com </label> 
                  </div>
                  <div class="col-md-12 req-distance">
                    <label class="req-label">To: <%- users.fullname%>  </label> 
                  </div>
                  <div class="col-md-12 req-distance">
                    <label class="req-label" name="email" > Email:  <input type="text" style="border: none;" name="email" value="<%- users.email %>">  </label>
                  </div>
                  <div class="col-12 req-distance">
                    
               
                   <textarea rows="18" cols="60" name="text" style=" background: none; padding: 10px; line-height: 1;" >  Hello, Mr/Ms/Mrs. <%=users.fullname%>, <br><br>

                    I got your request now! <br><br>

                    Thank you for using our website and following the protocol. Before proceeding to the next step I would like you to visit the attached pdf file in this email and read our Terms and Conditions in receiving this file. I hope you understand and please do follow the steps carefully. <br><br>
                    
                    Please donwload the attached file.<br><br>
                   
                    Thank you very much!<br><br>
                    


Sincerely, <br><br>
Barangay Portal
                  </textarea>
                  </div>  
                <!-- </form> -->
                  <div class="col-12 submit-center req-btns " style="text-align: center;">
                    <!-- <button type="submit" class="btn submit  " style="width: 230px;">
                      Send 
                    </button> -->
                    <!-- <form action="/sendmail" method="POST"> -->
                      <button type="submit"  class=" btn submit" > Send </button>
                    </form>
                    
                  </div>
               
              </div>
   

    </div>


<style>

body {
    Margin: 0;
    Padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    Line-height: 1.3;
    background-image: url("/images/bground.png");
    background-repeat: no-repeat, repeat !important;
    background-size: cover !important;
    background-position: center !important;


}
.req-view-input{
    width: 100%;
    padding: 0;
    margin: 0;
}

.req-view-div{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 0.9;
}

  input, .txt-area, select{
    border: none;
    margin-bottom: 2px;
    border-bottom: 1px solid #04684f;
    width: 300px;
    background: transparent !important;
    
  }
  .title-design
  {
    /* background-color: #1B999D;
    opacity: 0.75; */
    text-align: center;
    padding-bottom: 20px;
    color:#1B999D;
    width: 300px;
   
  }

  .submit{
    width: 300px;
    margin: 10px 0 0 0;
    padding: 5px;
    background-color:#1B999D; 
    
    border: none;
    opacity: 0.75;
    color: white;
    margin-bottom: 10px;
  }
  .submit:hover{
    background: none;
    border: 1px solid #04684f;
    color: #784546;
    border-style: double;
    transition: 0.5s;
    
  }
  
  .google-au
  {
    margin-top: 20px;
    text-decoration: none;
   
    color: #04684f; 
  }
  .google-au:hover
  {
    margin-top: 20px;
    text-decoration: none;
    color: #784546; 
  }

.sign-up-link
  {
      text-align: center;
  }



</style>