<div class="title-design"style="width: 100%; padding: 0;margin: 0;">
    <h5 style="padding: 0;">Residents Information Record</h5>
  
  </div>
  <nav>
      
        <div class="nav nav-tabs justify-content-center div-tab" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-allrecord-tab" data-bs-toggle="tab" data-bs-target="#nav-allrecord" type="button" role="tab" 
            aria-controls="nav-allrecord" aria-selected="true">All Records</button>
            <button class="nav-link" id="nav-ongoing-tab" data-bs-toggle="tab" data-bs-target="#nav-ongoing" type="button" role="tab" 
            aria-controls="nav-ongoing" aria-selected="false"> Female </button>
            <button class="nav-link" id="nav-finished-tab" data-bs-toggle="tab" data-bs-target="#nav-finished" type="button" role="tab" 
            aria-controls="nav-finished" aria-selected="false"> Male </button>
       
      </div>
    </nav>
    <div class="tab-content request-tab" id="nav-tabContent" >
      
                <!-- -------------------BRGY ID---------------------------- -->
                <div class="tab-pane fade show active" id="nav-allrecord" role="tabpanel" aria-labelledby="nav-allrecord-tab">
                    <div class="container-for-allusers"> 

                  
       
                        <div class="btn-add"> 
                          <form action="/exportResidents" method="POST">
                            <button
                            type="submit"
                            class="btn addbtn submit"
                          ><a style=" text-decoration: none;" type="submit" class="a-link">
                            Export to Excel</a>
                          </button>

                          <button
                                type="button"
                                class="btn addbtn submit" data-modal="modal-12" 
                              ><a style=" text-decoration: none;" class="a-link ms-trigger"  href="#" data-modal="modal-12"  >
                                Add Resident</a>
                              </button>
              
                            
                            <button
                              type="button"
                              class="btn addbtn submit"
                            ><a style=" text-decoration: none;" class="a-link"  href="/deleteinfo" onclick="return confirm('Are you sure you want to delete ALL Residents informations?');"  >
                              Delete All</a>
                            </button>
                            </form>
                          </div>
              
                          <!-- ============MODAL================ -->
                        <div class="ms-modal md-effect-12 md-content-div" >
                          <div class="ms-content damn-md">
                         
                            <div class="wrapper-1 ">
                              <div class="wrapper-2 md-send-request" >
                               <div style="text-align: right; padding: 5px 20px; cursor: pointer;"> <i class="fa-solid fa-xmark fa-1x ms-close"></i>  </div> 
                                      <div class="title-design" style="width: 100%; padding-bottom: 0;">
                                          <h5 style="text-align: center; padding-left: 10px; padding:0;"> Residents Information Form </h5>
                                          
                                          <hr style="padding: 0; margin: 0;" />
                                      </div>
                                      
                        
                                      <div class="news-inside blotter-side">
                                          <form class="row g-3 req-row blotter-w" action="/residents" method="POST">
                                            <div class="col-12 req-distance">
                                              
                          
                                                <div class="date-req " style="text-align: right; padding: 0; margin: 10px;">
                                                <label class="req-label"> <b>Precinct No: <input style="width: 100px;" name="precinct" /> </b> </label>  <br>
                                                <label class="req-label"> <b>Date Recorded: <input style="width: 100px;" value="<%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(new Date()) %>" name="daterecorded" required/> </b> </label> 
                                                <!-- <label class="req-label"><b> Request : </b> </label>  -->
                                                <!-- <select class="custom-select my-1 mr-sm-2" name="request" style="width: 100px"> -->
                                                  <!-- <option selected></option> -->
                                                  <!-- <option value="Pending">On-going</option>
                                                  <option value="Approved">Finished</option> -->
                                                
                                                </select>
                                              </div>
                                              </div>
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">Last Name</label>
                                                <input type="text" class="req-view-input" name="lastname"style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">First Name</label>
                                                <input type="text" class="req-view-input" name="firstname" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-2 req-distance">
                                                <label class="req-label">M.I</label>
                                                <input type="text" class="req-view-input" name="middleinitial" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-1 req-distance">
                                                <label class="req-label">Age</label>
                                                <input type="text" class="req-view-input" name="age"style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-3 req-distance">
                                                <label class="req-label">Gender</label>
                                                    <select class="custom-select  " name="gender" style="width: 100px">  
                                                    <option selected></option>
                                                    <option value="Female">Female</option>
                                                    <option value="Male">Male</option></select>
                                              </div>
                                              <div class="col-md-4 req-distance">
                                                <label class="req-label">Date of Birth</label>
                                                <input type="text" class="req-view-input" name="birthday" style="width: 100%;" required />
                                              </div>
                                             
                                              <div class="col-md-4 req-distance">
                                                <label class="req-label">Place of Birth</label>
                                                <input type="text" class="req-view-input" name="birthplace" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-3 req-distance">
                                                <label class="req-label">Civil Status</label>
                                                <select class="custom-select" name="civilstatus" style="width: 100px"> 
                                                    <option selected></option>
                                                    <option value="Single">Single</option>
                                                    <option value="Married">Married</option>
                                                    <option value="Widow/er">Widow/er</option>
                                                    <option value="Separated">Separated</option></select>
                                              </div>
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">Email</label>
                                                <input type="email" class="req-view-input" name="email" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-4 req-distance">
                                                <label class="req-label">Contact No.</label>
                                                <input type="text" class="req-view-input" name="phone" style="width: 100%;" required />
                                              </div>

                                              <div class="col-md-4 req-distance">
                                                <label class="req-label">Highest School Attainment</label>
                                                <select class="custom-select" name="schoolattainment" style="width: 180px"> 
                                                    <option selected ></option>
                                                    <option value="Elementary">Elementary</option>
                                                    <option value="HighSchool"style="width: 100px">HighSchool</option>
                                                    <option value="College">College</option>
                                                    <option value="Graduate School ">Graduate School </option>
                                                    <option value="Vocational">Vocational</option>
                                                </select>
                                              </div>

                                              <div class="col-md-8 req-distance">
                                                <label class="req-label">Profession/Occupation</label>
                                                <input type="text" class="req-view-input" name="profession" style="width: 100%;" required />
                                              </div>

                                              <div class="col-md-3 req-distance">
                                                <label class="req-label">Blk/Lt</label>
                                                <input type="text" class="req-view-input" name="blklot"style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-4 req-distance">
                                                <label class="req-label">Street</label>
                                                <input type="text" class="req-view-input" name="street"style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">Barangay</label>
                                                <input type="text" class="req-view-input" name="brgy" style="width: 100%;" required />
                                              </div>
                                             
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">Province/City</label>
                                                <input type="text" class="req-view-input" name="province" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-5 req-distance">
                                                <label class="req-label">Citizenship</label>
                                                <input type="text" class="req-view-input" name="citizen" style="width: 100%;" required />
                                              </div>
                                              <div class="col-md-2 req-distance">
                                                <label class="req-label">Zipcode</label>
                                                <input type="text" class="req-view-input" name="zipcode" style="width: 100%;" required />
                                              </div>
                                           
                                            
                                          
                          
                                            <div class="col-12 submit-center req-btns " style="text-align: center;">
                                              <button type="submit" class="btn submit  " style="width: 300px;">
                                                Save Information
                                              </button>
                                              
                                            </div>
                                          </form>
                                        </div>
                                      
                                      
                               
                                          
                              </div>     
                            </div>
                              </div>
                              </div> 
                              <!-- ============MODAL================ -->
                   
              
                        
                          <!-- =========MODAL FOR ADDUSER============= -->
                          
                         
                           <div class="tableFixHead">
                         
                             
                             <table class="table table-hover citizen-table">
                               <thead class="table-dark">
                                   <!-- <th scope="col">#</th> -->
                                   <th scope="col">Date Recorded: </th>
                                  
                                   <th scope="col">Full Name</th>
                                   <th scope="col">Complete Address</th>
                                   <th scope="col"></th>
                                   <th scope="col"></th>
                                   <th scope="col"></th>
                                 </tr>
                               </thead>
                               <tbody>
                                
                               <% allResidents.forEach(function(users){ %>
                                 <tr>
                                   <th scope="row"><%= users.daterecorded %></th>
                                   
                                   <td><%= users.lastname %>  <%= users.firstname %> <%= users.middleinitial %> </td>
                                   <td> <%= users.blklot %>  <%= users.street %> <%= users.brgy %> <%= users.province%>  </td>
                                   <td><%= users.request %></td>
                                   <td> <a class="td-link"  href="/adminsviewresidents/<%= users._id %>" >
                                     Edit
                                   </a> </td>
                                   <td> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.lastname %> s information?');"  >
                                     
                                  Delete </a> </td>
                                 </tr>
                                 <% }); %> 
                                 
                               </tbody>
                          </table>
                          </div>
                      </div>
                </div> 
            
            
                <!-- ------------------- END OF BRGY ID---------------------------- -->

            
                <!-- -------------------BRGY CLEARANCE---------------------------- -->
                <div class="tab-pane fade" id="nav-ongoing" role="tabpanel" aria-labelledby="nav-ongoing-tab">
                    <div class="tableFixHead">
                         
                             
                        <table class="table table-hover citizen-table">
                          <thead class="table-dark">
                              <!-- <th scope="col">#</th> -->
                              <th scope="col">Date Recorded: </th>
                             
                              <th scope="col">Full Name</th>
                              <th scope="col">Complete Address</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                           
                          <% allFemale.forEach(function(users){ %>
                            <tr>
                              <th scope="row"><%= users.daterecorded %></th>
                              
                              <td><%= users.lastname %>  <%= users.firstname %> <%= users.middleinitial %> </td>
                              <td> <%= users.blklot %>  <%= users.street %> <%= users.brgy %> <%= users.province%>  </td>
                              <td><%= users.request %></td>
                              <td> <a class="td-link"  href="/adminsviewresidents/<%= users._id %>" >
                                Edit
                              </a> </td>
                              <td> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.lastname %> s information?');"  >
                                
                             Delete </a> </td>
                            </tr>
                            <% }); %> 
                            
                          </tbody>
                     </table>
                     </div>

                </div>
                <!-- -------------------END OF BRGY CLEARANCE---------------------------- -->
            
                
                <!-- -------------------BUSINESS PERMIT---------------------------- -->
                <div class="tab-pane fade" id="nav-finished" role="tabpanel" aria-labelledby="nav-finished-tab">
                    <div class="tableFixHead">
                         
                             
                        <table class="table table-hover citizen-table">
                          <thead class="table-dark">
                              <!-- <th scope="col">#</th> -->
                              <th scope="col">Date Recorded: </th>
                             
                              <th scope="col">Full Name</th>
                              <th scope="col">Complete Address</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                           
                          <% allMale.forEach(function(users){ %>
                            <tr>
                              <th scope="row"><%= users.daterecorded %></th>
                              
                              <td><%= users.lastname %>  <%= users.firstname %> <%= users.middleinitial %> </td>
                              <td> <%= users.blklot %>  <%= users.street %> <%= users.brgy %> <%= users.province%>  </td>
                              <td><%= users.request %></td>
                              <td> <a class="td-link"  href="/adminsviewresidents/<%= users._id %>" >
                                Edit
                              </a> </td>
                              <td> <a class="td-link" href="/deleteinfo/<%= users._id %>" onclick="return confirm('Are you sure you want to delete Ms/Mrs/Mr. <%= users.lastname %> s information?');"  >
                                
                             Delete </a> </td>
                            </tr>
                            <% }); %> 
                            
                          </tbody>
                     </table>
                     </div>

            
                </div>
                <!-- ------------------- END OF BUSINESS CLEARANCE---------------------------- -->
        
     
     
    </div>
  
